<!DOCTYPE html>
<html>
    <head>
        <title>Super admin page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Suuuuuper admin page">

        {% load static %}
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/font-awesome.css" %}"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:300,400,400italic,700" >
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,400italic,700" >

    </head>
    <body>

        <div class="container">
            <div class="row">
                <h1>
                Super admin page! Only 127.0.0.1 can access this page!
                </h1>
            </div>
        </div>
    </body>
</html>